.hero {
  background: url(../images/iriswang.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 70vh;
  width: 100%;
}

#about {
  .personal-photo {
    width: 1rem;
  }
}

#resume {
  .resume-item {
    position: relative;
    padding-left: 20px;
  }

  .resume-item::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    left: -10.5px;
    top: 0;
    background: white;
    border: 2px solid $gray-400;
  }
}

.badge {
  font-family: 'Roboto Mono', monospace;
}

#contact {
  .social-links {
    width: 40px;
    height: 40px;
    background-color: $yellow;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      filter: brightness(105%);
    }
  }
}