.hero {
  background: url(../images/home.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  height: 70vh;
  width: 100%;
}

#about {
  .personal-photo {
    width: 1rem;
  }

  .light-up {
    &:hover {
      filter: brightness(105%);
    }
  }
}

#resume {
  .resume-item {
    position: relative;
    padding-left: 20px;
  }

  .resume-item::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    left: -10.5px;
    top: 0;
    background: white;
    border: 2px solid $gray-400;
  }

  .badge {
    font-family: 'Roboto Mono', monospace;
  }
}

#portfolio {
  .portfolio-flters {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem 2rem;
    border-radius: 50px;
    background-color: $gray-100;

    li {
      cursor: pointer;
      text-transform: uppercase;
      transition: all 0.3s ease-in-out;

      &:hover,
      &.filter-active {
        color: #f3a200;
      }
    }
  }

  .portfolio-item {
    margin-bottom: 30px;

    &:hover {
      img {
        transform: scale(1.2);
      }

      .portfolio-info {
        opacity: 1;
      }
    }

    .portfolio-img {
      overflow: hidden;

      img {
        transition: all 0.8s ease-in-out;
      }
    }

    .portfolio-info {
      opacity: 0;
      position: absolute;
      left: 0.75rem;
      bottom: 0;
      z-index: 3;
      right: 0.75rem;
      transition: all ease-in-out 0.3s;
      background: rgba(0, 0, 0, 0.5);
      padding: 10px 15px;

      h4 {
        color: #fff;
        font-weight: 600;
      }

      p {
        color: rgba(255, 255, 255, 0.8);
        margin-bottom: 0;
      }
    }
  }
}

#contact {
  .social-links {
    width: 40px;
    height: 40px;
    background-color: $yellow;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      filter: brightness(105%);
    }
  }
}