#sideNav {
  width: 300px;
  height: 100vh;

  @media(max-width:991px) {
    width: 100vw;
    height: unset;
    background-color: #fff !important;
  }

  .navbar-toggler-icon {
    color: $dark !important;
  }

  .nav-link {
    &:hover {
      // background-color: $gray-400;
      color: $gray-500;
    }

    &.active {
      color: $yellow;

      // &:hover {
      //   background-color: unset;
      // }
    }
  }
}