<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Primary Meta Tags -->
  <meta name="title" content="Iris_Portfolio">
  <meta name="description" content="王盈茹的個人簡歷">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://bolaslien.github.io/">
  <meta property="og:title" content="Iris_Portfolio">
  <meta property="og:description" content="王盈茹的個人簡歷">
  <meta property="og:image" content="./assets/images/profile.jpg">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://bolaslien.github.io/">
  <meta property="twitter:title" content="Iris_Portfolio">
  <meta property="twitter:description" content="王盈茹的個人簡歷">
  <meta property="twitter:image" content="./assets/images/profile.jpg">

  <title>
    <%- title %>
  </title>

  <!-- material icon -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">

  <!-- css -->
  <link rel="stylesheet" href="./assets/style/all.css">

  <!-- aos -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <!-- bootstrap icon -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
</head>

<body style="position: relative;" id="page-top">
  <nav class="navbar navbar-expand-lg d-lg-flex flex-lg-column justify-content-lg-center bg-secondary fixed-top"
    id="sideNav">
    <a class="navbar-brand js-scroll-trigger p-0 m-0" href="#page-top">
      <span class="d-block d-lg-none fw-bold line-height-19 px-8 py-2">Portfolio</span>
      <img class="img-fluid rounded-circle border-danger border-5 px-12 mb-10 d-none d-lg-block"
        src="./assets/images/profile.jpg" alt="page-top" />
    </a>
    <button class="navbar-toggler me-8" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <i class="bi bi-list fs-8"></i>
    </button>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarResponsive">
      <nav class="navbar-nav d-lg-flex flex-lg-column align-items-lg-center">
        <a class="nav-link js-scroll-trigger fs-4 line-height-19 px-8 py-2" href="#home">Home</a>
        <a class="nav-link js-scroll-trigger fs-4 line-height-19 px-8 py-2" href="#about">About</a>
        <a class="nav-link js-scroll-trigger fs-4 line-height-19 px-8 py-2"
          href="#professional-skill">Professional-skill</a>
        <a class="nav-link js-scroll-trigger fs-4 line-height-19 px-8 py-2" href="#resume">Resume</a>
        <a class="nav-link js-scroll-trigger fs-4 line-height-19 px-8 py-2" href="#portfolio">Portfolio</a>
        <a class="nav-link js-scroll-trigger fs-4 line-height-19 px-8 py-2" href="#contact">Contact</a>
      </nav>
    </div>
  </nav>


  <%- contents %>


    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script>
      AOS.init();
    </script>

</body>

</html>